{% extends "Layout.html" %}
{% block content %}
    <div class="slide">

    </div>
    <div class="menu">
        <ul>
            <div class="col-md-3">
                <li>
                    <div class="item-menu">
                        <a href="/api/book/showbook/1" > <img src="/api/image/pngtree-book-line-black-icon.-png-image_3746347.jpg"></a>
                        <div class="txt">
                            <p>SÁCH</p>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">
                <li>
                    <div class="item-menu">
                        <a href="/api/category/showcategory/1" ><img src="/api/image/pngtree-list-icon-sign-png-image_3569691.jpg"></a>
                        <div class="txt">
                            <p>THỂ LOẠI</p>
                        </div>
                    </div>
                </li>
            </div>

            <div class="col-md-3">
                <li>
                    <div class="item-menu">
                        <a href="/api/author/showauthor/1" ><img src="/api/image/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f363132303433312f313639333233352f62373337366163382d356538622d313165332d393135382d6661313961313263663133612e706e67.png"></a>
                        <div class="txt">
                            <p>TÁC GIẢ</p>
                        </div>
                    </div>
                </li>
            </div>

            <div class="col-md-3">
                <li>
                   <div class="item-menu">
                       <a href="#" ><img src="/api/image/tải%20xuống%20(3).png"></a>
                        <div class="txt">
                            <p>THỐNG KÊ</p>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
{% endblock content %}