<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="header">

            </div>
            <div class="text">
                <p>Sắp xong rồi {{username}} !, để hoàn tất đăng kí tài khoản Booking Share chúng tôi cần xác minh địa chỉ mail của bạn:
                    <br>
                    <strong>{{email}}</strong>
                    <br>
                </p>
            </div>
            <div class="footer">

            </div>
        </div>


<p>
    <a href="{{ confirm_url }}">{{ confirm_url }}</a>
</p>

<p>
<br>
    </div>

Thắc mắc liên hệ : Email <b>nguyenquanghai2331998@gmail.com</b> 
</p>
</body>
</html>


