{% block style %}
    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
{% endblock %}
{% extends "Layout.html" %}
{% block content %}
    <div class="container_editpass">
        <div class="content_editpass">
            <div class="row">
                <div class="col-md-5">
                     <div class="image_user">
                         <img src="/api/image/{{ user['url_user'] }}">
                     </div>
                </div>
                <div class="col-md-7">
                    <form class="form-edit" method=POST action="{{ url_for('update_password') }}" name="password" onsubmit="return check_field_password()">
                            <div class="form-group" style="margin-top: 20px;">
                                <label class="control-label col-sm-2" style="text-align: right;">Mật khẩu cũ :</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="password_old" placeholder="">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 20px;">
                                <label class="control-label col-sm-2" style="text-align: right;">Mật khẩu mới :</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="password_new1" placeholder="Mật khẩu mới">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 20px;">
                                <label class="control-label col-sm-2" style="text-align: right;">Xác nhận mật khẩu mới :</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="password_new2" placeholder="Xác nhận mật khẩu mới">
                                </div>
                            </div>
                         <div class="form-group" style="margin-top: 20px;">
                                <button type="submit" class="btn btn-primary" style="width: 20%;margin-left: 190px;" onsubmit="return check_field_edituser()">Đổi mật khẩu</button>
                                <input  type="button" class="btn btn-primary" style="width: 20%;margin-left: 50px;" onclick="goBack()" value="Hủy">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
