{% block style %}
    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
{% endblock %}
{% extends "Layout.html" %}
{% block content %}
<div class="container_pageuser">
    <div class="row">
        <div class="col-md-5">
            <div class="image_user">
                <img src="/api/image/{{ author['url_TG'] }}">
            </div>
        </div>
        <div class="col-md-7">
            <div class="infor_user">
                 <ul>
                     <li><h1><b>Tác giả: {{ author['ten_TG'] }}</b></h1></li>
                     <li><h3>Địa chỉ : {{ author['diachi_TG'] }}</h3> </li>
                     <li><h3>Lượt thích : {{ author['likes_TG'] }}</h3></li>
                     <textarea style="width: 600px; height: 200px; resize: none;" class="form-control" row="5" id="comment" name="mota" disabled>{{ author['mota_TG'] }}</textarea>
                </ul>
                <div class="slide">
                    <div class="title">
                        <span  style="font-family: Arial;font-style: oblique; color: darkcyan;" >SÁCH NỔI BẬT</span>
                    </div>
                    {% for item in cursor %}
                        <div class="col-md-3" id="itemsach" style="height: 100px;">
                            <div class="imgsach">
                                <a href="/api/book/detailbook/{{ item['_id'] }}"><img src="/api/image/{{ item['url_sach'] }}"></a>
                            </div>
                            <div class="inforsach">
                                <h5><b>{{ item['ten_sach'] }}</b></h5>
                                <h5><b>Likes: {{ item['likes_sach']}}</b></h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}

















<!--    <div class="container_Detailbook">-->
<!--        <div class="content">-->
<!--            <div class="name_page">-->
<!--                <div>-->
<!--                     <a href="{{ url_for('home') }}"><img src="/api/image/images.png" id="name_page_img"></a>-->
<!--                </div>-->
<!--                <div  id="muc">-->
<!--                    <p><b>AuThor</b></p>-->
<!--                </div>-->
<!--                <div class="image_book">-->
<!--                    <img src="{{ urlauthor }}">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="detail_book">-->
<!--                <h2>Name Author : {{ author['ten_TG'] }}</h2>-->
<!--                <p>Adress  : {{ author['diachi_TG'] }}</p>-->
<!--                <p>Likes : {{ author['likes_TG'] }}</p>-->

<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-4 col-md-offset-4">-->
<!--                            <form method="get" action="#" enctype = "multipart/form-data">-->
<!--                                <div class="form-group">-->
<!--                                    <input type="submit" name="mota" value="Describe">-->
<!--                                        <div class="form-group">-->
<!--                                            <textarea style="width: 500px; height: 135px; resize: none;" type="text" class="form-control" row="5" id="comment" name="mota" disabled>{{ author['mota_TG'] }}</textarea>-->
<!--                                        </div>-->

<!--                                </div>-->

<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->
