{% block style %}
    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        var guitt = $(".guitt")
        var cancer =  $(".cancerd")
        $(".hide").hide();
        $(cancer).click(function(){
            $(".hide").toggle();
            if ($(guitt).attr('disabled')) {
                $(guitt).removeAttr('disabled');
            }
            else
                $(guitt).attr('disabled', 'disabled');
        });
    });
    </script>
{% endblock %}
{% extends "Layout.html" %}
{% block content %}
        <div class="container_pageuser">
            <div class="row">
                <div class="col-md-5">
                    <div class="image_user">
                        <img src="/api/image/{{ book['url_sach'] }}">
                    </div>
                </div>
                <div class="col-md-7">
                    <form method="post" class="form-edit" action="/api/user/detailbookborrow/{{ requestbook['_id'] }}" name="insertRequest">
                        <div class="detail_book">
                            <h2><strong>Tên sách  :  {{ book['ten_sach'] }}</strong> </h2>
                            <h3>Tác giả : {{ book['ten_TG'] }}</h3>
                            <h3>Người mượn : {{ usermuon['hoten_user'] }} </h3>
                            <h3>Ngày dự kiến mượn : {{ requestbook['ngaymuon'] }} </h3>
                            <input type="button" name="search" value=" Lời nhắn " class="show">
                            <textarea name="ghichu" style="width: 500px; height: 100px;" disabled >{{ requestbook['ghichu_request'] }}</textarea>

                        </div>
                        <div id="nut">
                            <input type="submit" name="action" class="guitt"  value="Đồng ý" style="width: 200px;height: 50px;">
                            <a href="/api/user/rejectrequest/{{requestbook['_id']}}"><input type="button" name="action" class="cancerd" value="Không đồng ý" style="width: 200px; height: 50px;color: black;"></a>
                        </div>
                        <form method="post">
                            <input type="button" class="hide" value=" Lí do từ chối " style="display: block;margin-top: 15px;">
                            <textarea name="lido"  class="hide" style="width: 500px; height: 100px;" ></textarea>
                            <input type="submit" class="hide" name="action" id="send" value="Gửi" style="width: 200px;height: 50px; margin-left: 150px;" >
                        </form>
                    </form>
                </div>
            </div>
        </div>
{% endblock content %}