{% block style %}
    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
{% endblock %}
{% extends "Layout.html" %}
{% block title %}
        <h3 style="font-family: Arial;font-style: oblique; color: darkcyan;" >TÌM KIẾM</h3>
{% endblock title %}
{% block skip %}
    <div class="pages_number">
        <ul class="pagination">
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            </li>
            <li><a href="/api/book/showbook/1">1</a></li>
            <li><a href="/api/book/showbook/2">2</a></li>
            <li><a href="/api/book/showbook/3">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
        <a href="/api/book/addbook" ><input  type="button" class="btn btn-primary" style="margin-top: -50px;margin-left: 300px;" value="Thêm sách"></a>
    </div>
{% endblock %}
{% block content %}
    <div class="listbook">
        <div class="content_listbook">
            <div class="List_book">
                {% if count>0 %}
                <div>
                    <span style="font-size: 20px;">Có {{count}} kết quả được tìm thấy</span>
                </div>

                    {% for item in ds %}
                        <div class="items-sach" >
                            <div class="item-sach">
                                <div class="img-sach">
                                    <a href="/api/book/detailbook/{{ item['_id'] }}"><img src="/api/image/{{ item['url_sach'] }}"></a>
                                </div>
                                <div class="infor-sach">
                                    <h5><b>{{ item['ten_sach'] }}</b></h5>
                                    <h5><b>{{ item['ten_TG']}}</b></h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if count==0 %}
                    <span style="font-size: 20px;">Không có kết quả nào được tìm thấy</span>
                {% endif %}

            </div>

        </div>
    </div>
{% endblock content %}
